.styles{
  padding-bottom: 121px;
}
.styles__top {
  text-align: center;
}
.styles__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

.styles__description {
  font-weight: normal;
  font-size: 15px;
  margin: 15px 0 65px;
  line-height: 1;
}

.styles__row {
  position: relative;
  min-height: 700px;
}

.styles__image--1 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.styles__image--2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 514px;
	height: 451px;
}

.styles__image--3{
  position: absolute;
  right: -13px;
  bottom: 22px;
  width: 227px;
  height: 281px;
}

.styles__image--4{
  position: absolute;
  right: -38px;
  bottom: 0;
}

.womens-dress{
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: #22262A;
}

.dress {
  position: absolute;
  bottom: 10px;
  right: 220px;
  padding-right: 8px;
  padding-bottom: 30px;
}

.under{
  width: 168px;
  height: 1px;
}



