.tachen{
    min-height: 745px;
    background:url('../images/teachen_bg/teachen_bg.png') center no-repeat;
    background-size: cover;
}

.tachen_content{
    padding-top: 434px;

}

.tachen__suptitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}

.tachen__title{
    font-weight: bold;
    font-size: 80px;
    color: #22262A;
}

.tachen__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #22262A;
    padding: 5px 25px ;
    text-decoration: none;
}

